# Ignorar arquivos temporários
*.log
*.tmp
*.swp

# Ignorar configurações locais
.vscode/
.idea/

# Ignorar dependências (se usar npm ou yarn)
node_modules/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
